# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator
*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*

# Visual Studio Code
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#MicroC
*.pdsbak
*.workspace
*.log
*.bmk
*.brk
*.cfg
*.dbg
*.dct
*.dlt
*.hex
*.lst
*.dic
*_callertable.txt
*.user.dic
*.asm
*.c.ini
*.h.ini
*.cp
*.mcl

#IAR Embedded Workbench
*.ewt
*.ewd
*.eww
**/settings/*.crun
**/settings/*.dbgdt
**/settings/*.cspy
**/settings/*.cspy.*
**/settings/*.xcl
**/settings/*.dni
**/settings/*.wsdt
**/settings/*.wspos
**/Debug/Exe/
**/Debug/List
**/Obj/*.pbd
**/Obj/*.pbd.*
**/Obj/*.pbi
**/Obj/*.pbi.*
**.log
Backup*
*.dep
*.bin
*.elf
*.hex
*.map
*.bak
*.h.old

#Altium Designer
**/__Previews/
**/History/*
Project\ Logs*/
Project\ Outputs*/
*.PcbDoc.htm
**/*.ldb

# diplomamunka
multimedia
!emulated-system/remake/libs/**
*.TMP
~$*